* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

::-moz-selection { /* Code for Firefox */
  color: #af8467;
  background: #4e454a;
}

body {
  background-image: url("mtnbackground.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

.navigation {
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
  cursor: pointer;
}

.navContainer {
  background: linear-gradient(260deg, #9f998d 0%, #dad5c2 100%);
  color: #30323f;
  height: 10rem;
  width: 16rem;
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 1px 2px 0px #05131c, 0px 1.5px 5px 0px #05131c;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  text-shadow: 0.5px 0.1px 2px rgba(0, 0, 0, 0.3);
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 65vw;
  margin-top: 5%;
  margin-right: 15%;
  border-radius: 1.2rem;
  background: linear-gradient(
    260deg,
    rgba(159, 153, 141, 0.8) 0%,
    rgba(218, 213, 194, 0.8) 100%
  );
  box-shadow: 0px 1px 2px 0px #05131c, 0px 1.5px 5px 0px #05131c;
}

.contents {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #30323f;
  height: 100%;
  width: 100%;
  padding: 2rem;
  text-shadow: 0.5px 0.1px 2px rgba(0, 0, 0, 0.4);
}

.location-heading,
.temp,
.wind,
.summary {
  font: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 50%;
  width: 50%;
  margin-top: 8rem;
  margin-bottom: 8rem;
  /* border: 1px solid white; */
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

#ellipsis span {
  letter-spacing: -1rem;
  animation-name: blink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
#ellipsis span:nth-child(2) {
  animation-delay: 0.25s;
}
#ellipsis span:nth-child(3) {
  animation-delay: 0.5s;
}


